* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Akshar", sans-serif;
}
header {
  background: linear-gradient(to right, #245eaa, #113c73);
  padding: 0rem 0;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar {
  background-color: transparent !important;
  li {
    padding-left: 1rem;
    font-size: 1.1rem;
  }
  img {
    border-radius: 50px;
    height: 130px;
  }
}

#intro {
  background-image: url(img/bariloche22.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 80vh;
}
.icon {
  height: 60px;
}
#actividades {
  background-image: url(img/actividades.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 80vh;
}
#hospedaje {
  background-image: url(img/hospedaje.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 80vh;
}

.prueba {
  align-items: center;
  margin: auto;
  button {
    background-color: aliceblue;
    border: 0em;
  }
  p {
    color: $color-white;
    font-size: 2.7rem;
  }
  a {
    text-decoration: none;
    font-size: 2.2rem;
    padding: 0 15px;
  }
}
